@charset utf-8;

html,body {
height:100%;
font-family:'simsun',Arial;
font-size:12px;
height: 1300px;
}

body a {
outline:none;
blr:expression(this.onFocus=this.blur());
-moz-outline-style:none;
}

table {
border-collapse:collapse;
border-spacing:0;
}

address,caption,cite,code,dfn,em,strong,th,var {
font-style:normal;
font-weight:400;
}

ol,ul,li {
list-style:none;
float: left;
}

caption,th {
text-align:left;
}

h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:400;
}

body,button,input,select,textarea {
font-family:12px 'simsun',Arial;
}

a {
text-decoration:none;
color:#000;
}

button,input,select,textarea {
border:0 solid #394862;
}

input[text] {
cursor:pointer;
}

iframe {
border:0;
margin:0;
padding:0;
}

input.input_flie[type=file] {
border:1px solid #394862!important;
height:28px;
line-height:28px;
width:200px;
position:relative;
top:-4px;
margin:0 5px;
}

article,aside,dialog,footer,header,section,footer,nav,figure,menu {
display:block;
}

.fr {
float:right!important;
}

input,button {
outline:none;
}

.f12 {
font-size:12px;
}

.f14 {
font-size:14px;
}

.f16 {
font-size:16px;
font-weight:600;
}

.f18 {
font-size:18px;
}

.f20 {
font-size:20px;
font-weight:600;
}

.f22 {
font-size:22px;
}

.fb {
font-weight:700;
}

.t2 {
text-indent:2em;
}

.tcenter {
text-align:center;
}

.t_margin5px {
margin-top:5px;
}

.r_margin5px {
margin-right:5px;
}

.b_margin5px {
margin-bottom:5px;
}

.l_margin5px {
margin-left:5px;
}

.t_margin10px {
margin-top:10px;
}

.r_margin10px {
margin-right:10px;
}

.l_margin10px {
margin-left:10px;
}

.p0 {
padding-left:0!important;
}

.pl10 {
padding-left:10px!important;
}

.l12 {
padding-left:8px!important;
font-size:12px!important;
line-height:16px;
}

.line {
height:4px;
background:#f28f0f;
overflow:hidden;
}

.line2 {
height:1px;
background:#ccc;
overflow:hidden;
margin:2px 0 5px;
}

.line3 {
height:8px;
background:#fff;
overflow:hidden;
margin:0 0 3px;
}

.line4 {
height:1px;
background:#ccc;
overflow:hidden;
margin:5px 0 10px;
}

table.text-center tr td {
text-align:center!important;
padding-left:0!important;
}

*,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
margin:0;
padding:0;
}

fieldset,img,abbr,acronym {
border:0;
}

a:link,a:visited,a:hover,a:active {
color:#000;
}

.marginbtm10,.b_margin10px {
margin-bottom:10px;
}