/*icon图标集 Class名以 'ic-'+自定义名*/
i[class^="ic-"], i[class*="ic-"], .ic, i[class^="icbtn-"], i[class*="icbtn-"] ,#soundCtl{ display: inline-block; font-style: normal; font-weight: normal; line-height: 1; background-image: url('/images/nsc/home/icon.png'); background-repeat: no-repeat; vertical-align: -2px; *vertical-align: 0; *margin-right: 3px; }
.ic-air { width: 20px; height: 20px; background-position: -2px -2px; }
.ic-cbNoAudio { width: 22px; height: 22px; background-position: -73px -94px; }
.ic-cbDownload { width: 22px; height: 20px; background-position: -52px -2px; }
.ic-cbHelp { width: 22px; height: 22px; background-position: -78px -2px; }
.ic-cbHome { width: 22px; height: 18px; background-position: -2px -28px; }
.ic-cbKefu { width: 22px; height: 22px; background-position: -28px -28px; }
.ic-cbTop { width: 22px; height: 26px; background-position: -54px -28px; }
.ic-jiantou { width: 16px; height: 9px; background-position: -80px -28px; }
.ic-kefu { width: 22px; height: 22px; background-position: -80px -41px; }
.ic-message { width: 19px; height: 13px; background-position: -2px -67px; }
.ic-password { width: 20px; height: 21px; background-position: -25px -67px; }
.ic-refresh { width: 17px; height: 14px; background-position: -49px -67px;display:none;}
.ic-tt8game { width: 22px; height: 22px; background-position: -70px -67px; }
.ic-ttGame { width: 22px; height: 20px; background-position: -104px -2px; }
.ic-ttHot { width: 18px; height: 21px; background-position: -106px -26px; }
.ic-ttNotice { width: 22px; height: 22px; background-position: -106px -51px; }
.ic-unlook {width: 16px; height: 15px;background-position: -96px -75px;}
.ic-unlook.hide{width: 19px; height: 15px;background-position: -104px -96px;}
.ic-username { width: 20px; height: 19px; background-position: -2px -95px; }
.ic-warning { width: 20px; height: 18px; background-position: -26px -95px; }
.ic-xianlu { width: 20px; height: 20px; background-position: -50px -95px; }
.conainter { width: 1100px; text-align: left; height: auto; position: relative; }

i[class^="icbtn-"], i[class*="icbtn-"] {  background-image: url('/images/nsc/home/ic_btn.png'); }
.icbtn-android{ width:100px; height: 25px; background-position: left top;}
.icbtn-iphone{ width:100px; height: 25px; background-position: left -26px;}
.icbtn-pc{ width:99px; height: 25px; background-position: left -52px;}
.icbtn-android:hover{ background-position: -101px top;}
.icbtn-iphone:hover{ background-position: -101px -26px;}
.icbtn-pc:hover{ background-position: -101px -52px;}

/*侧边栏*/
.sidebar{position:fixed; right:0; top:20%; width:40px; z-index: 300;}
.sidebar li{ float:right; width:30px; height:35px; line-height:35px; padding:0 5px; background:#AD768C; margin-bottom: 1px; border-radius:5px 0 0 5px; position:relative; transition: all 0.3s;}
.sidebar li i{ float:right; position:absolute; right:8px; top:6px; color:#fff; font:normal 18px/25px 'Microsoft YaHei';}
.sidebar li span{display:block; float:left; width:70px; text-align: center; color:#fff;  font:normal 14px/35px 'Microsoft YaHei'; opacity:0; filter:alpha(opacity=0); background-color:#8a5369; overflow:hidden; transition:opacity 0.1s; }
.sidebar li.cb_download span{  height:35px; margin-left:-5px; line-height:22px; border-radius:5px 0 5px 5px;  }
.sidebar li span p{line-height:25px;}
.sidebar li span p.mobile{border-bottom-width:1px;border-bottom-style:dashed;border-bottom-color: rgb(98, 61, 75);margin: 0px 3px 2px;padding:0px 0px 3px;}
.sidebar li.cb_download a{ font-size: 14px; color:#eee}
.sidebar li.cb_download a:hover{ text-decoration: underline;}
.sidebar li:hover{ width:120px; background-color:#8a5369}
.sidebar li:hover span{ width:90px; opacity:1; filter:alpha(opacity=100);transition:opacity 0.5s;}
.sidebar li.cb_download:hover span{ height:177px}
.sidebar li.cb_none:hover{ width:30px}
.sidebar li.cb_top{position:fixed; right:0; top:auto; bottom:100px; padding:3px 5px 2px;display:none;}
.sidebar li.cb_top:hover{ width:30px}
.sidebar li.help:hover span{ height:52px}
.sidebar .cb_download span{padding:8px 0;}
.sidebar .cb_download img{margin:5px 0;}
.zr-container {
	width: 780px;
	position: relative;
}
.zr-mobile-down{
	height: 130px;
	background:rgba(0,0,0,0.8);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#C8000000, endColorStr=#C8000000);
	position: fixed;
	width: 100%;
	bottom: 0px;
	padding-top: 15px;
	overflow: hidden;
	z-index: 998;
}

.zr-mobile-down.btn{
	background:rgba(0,0,0,0.6);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#99000000, endColorStr=#99000000);
}

.zr-mobile-down li{
	display: inline-block;
	vertical-align:middle;
}

.zr-mobile-down .text{
	font-size: 25px;
	color: white;
	width: 500px;
	vertical-align: top;
	margin-top: 30px;
	text-align: center;
}

.zr-mobile-down .t2{
	font-size: 24px;
	color: #da79bc;
	margin-top: 15px;
}

.zr-mobile-down .QR-code{
	width: 104px;
	height:104px;
	background:#fff;
	margin-right:5px;
}
.zr-mobile-down .QR-code img{
	display:block;
	margin:0 auto;
	padding:3px 0;
}
.zr-mobile-down a[class^="down-link-"]{
	background-image: url(/images/nsc/zr-iphone-android-f.png);
	display: block;
	height: 49px;
	width: 123px;
}

.zr-mobile-down .down-link-android{
	background-position: bottom left;
	margin-top: 5px;
}

.zr-mobile-down .log{
	background: url(/images/nsc/zr-log.png) no-repeat;
	width: 122px;
	height: 130px;
}

.zr-mobile-down .close{
	background: url(/images/nsc/zr-close.png) no-repeat;
	outline: none;
	width: 16px;
	height: 17px;
	display: block;
	position: absolute;
	right: 0px;
	top:-10px;
	border: none;
	cursor: pointer;
}

.sidebar{
	position:fixed;
	right:0;
	top:145px;
	width:80px;
	z-index:999;
	font-size: 12px;
	text-align: center;
}
.sidebar-div{
	height: 60px;
	padding-top: 15px;
	display: block;
	color: white;
	text-decoration: none;

	background: rgba(0,0,0,0.6);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#99000000, endColorStr=#99000000);

	-webkit-transition: background 0.3s linear;
	-moz-transition: background 0.3s linear;
	-o-transition: background 0.3s linear;
	transition: background 0.3s linear;
}

.sidebar-div:hover{
	background: #da79bc;
	filter:none;
}
.sidebar a:hover{color:#fff;}
.sidebar-div.home{
	background: #da79bc;
	filter:none;
}
#mdown-show{
	height: 90px;
	cursor: pointer;
	display: none;
	color: white;
	font-size: 12px;
	position: relative;
}

#mdown-show .link{
	width: 55px;
	height: 71px;
	background: url(/images/nsc/zr-down-link.png) no-repeat;
	display: block;
	position: absolute;
	left: 13px;
	bottom: -9px;
}

.sidebar i[class^="ic-"]{
	background-image:url(/images/nsc/icon-2.png);
	display: block;
	width: 24px;
	height: 23px;
	margin: 0px 0px 10px 29px;
}

.sidebar .ic-home {
	background-position: 0 0px;
}

.sidebar .ic-online {
	background-position: 0 -23px;
}

.sidebar .ic-help {
	background-position: 0 -46px;
}

.sidebar .ic-down {
	background-position: 0 -69px;
}

.sidebar .ic-sound {
	background-position: 0 -138px;
}
.sidebar .soundon {	background-position: 0 -138px; }
.sidebar .soundoff{	background-position: 0 -92px;}
.sidebar .ic-top {
	background-position: 0 -115px;
}

.h_app_web_li { margin-top: 10px; background: none!important;}
.icon_app_web { width:53px!important; height:68px!important; padding: 0!important; top: 0!important; right: 0!important; background: url(/images/nsc/login/login_sj-web_ewmn1.png) no-repeat;}
.h_app_web { width: 121px!important; z-index: 999; position:relative; right: -4px;}
.sj_web_ewm2 { width: 121px; height: 137px; text-align: center; color: #fff; padding: 3px 0 0 0; background: url(/images/nsc/login/login_sj-web_ewm2.png) no-repeat;}
.sj_web_ewm2 img { border: 3px solid #fff; width: 109px; height: 109px;}
.sj_web_ewm2 span { display: block; width: 100%; text-align: center; color: #fff; font-size: 14px;}
.sj_web_ewm2 p { font-size: 14px; color: #fff; line-height: 22px!important;}

.footer { width: 100%; background-color:#000; color:#666; padding:10px 0 15px; }
.f_copy { line-height:22px; }
.login_foot{ height:125px; text-align:center; color:#666; line-height:22px; padding-top:30px; background:url('/images/nsc/home/icon/bg_login_foot.jpg') center top no-repeat; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
.main-inner { background:url(/images/nsc/login/nsc_login_banner.jpg) no-repeat center top; height:680px; overflow:hidden;}
.main-inner .box_layer { width:280px;}
.main-inner .logo { background:url(/images/nsc/login/nsc_login_logo.png) no-repeat; height:95px;}
.warp980 { width:980px; margin:0 auto;}
.login_main { padding:20px 0 40px 0; margin-top: 20px; /*background: url("/images/nsc/foot_mainbg.png") repeat;*/}
.air_box { width:318px; float:left;}
.air_box_t { height:140px;}
.airflash { width:220px; height:140px; float:left; background:url(/images/nsc/login/nsc_login_air-flashBg.png) no-repeat;}
.download-line { width:88px; float:right;}
.download-line dt { font-size:12px; color:#888; height:45px; line-height:34px;}
.download-line dd { height:30px;}
.download-line dd a { display:block; height:20px; background:url(/images/nsc/login/nsc_login_line-icon.png) no-repeat; font-size:13px; color:#694d85; padding:0 0 0 30px;}
.download-line dd a:hover { text-decoration:underline;}
.adobe_download { display:block; height:20px; background:url(/images/nsc/login/nsc_login_adobeAir-icon.png) no-repeat; font-size:13px; color:#694d85; text-decoration:underline; padding:0 0 0 30px; margin-left:6px;}
.adobe_download:hover { text-decoration:none;}
.line_hint { float:right; font-size:12px; color:#888; margin-right:25px;}
.line_hint a { color:#694d85; text-decoration:underline; margin-left:6px;}
.line_hint a:hover { text-decoration:none;}

.phone_box { float:left; margin:3px 0 0 20px;}
.pt_box { float:right; margin:3px 0 0 0;}
.same_box { width:255px; height:151px; background:url(/images/nsc/login/nsc_login_box-line.png) no-repeat left center; padding:0 0 0 45px;}
.same_box .left { float:left; width:120px;}
.same_box .left h3 { font-size:18px; color:#444; font-weight:100; line-height:30px;}
.same_box .left p { font-size:12px; color:#888; margin:5px 0 10px;}
.same_box .left a { margin-bottom:13px;}
.same_box .icon-Android { display:block; width:100px; height:25px; background:url(/images/nsc/login/nsc_login_download_icon.png) no-repeat; text-indent:-9999px;}
.same_box .icon-Android:hover { background-position:-101px 0;}
.same_box .icon-iPhone { display:block; width:100px; height:25px; background:url(/images/nsc/login/nsc_login_download_icon.png) no-repeat 0 -26px; text-indent:-9999px;}
.same_box .icon-iPhone:hover { background-position:-101px -26px;}
.same_box .icon-PC { display:block; width:100px; height:25px; background:url(/images/nsc/login/nsc_login_download_icon.png) no-repeat 0 -52px; text-indent:-9999px;}
.same_box .icon-PC:hover { background-position:-101px -52px;}
.same_box .img { float:right; margin:7px 0 0 0;}
.same_box .img img { background:#fff; border:2px solid #e0e0e0; padding:9px; width:109px; height:109px;}

.login_footer { width:100%; min-width:980px; background:url(/images/nsc/login/nsc_login_footer-bg.jpg); height:125px; padding-top:35px; color:#666; font-size:12px; line-height:22px;}
.login_footer .img { background:url(/images/nsc/login/nsc_login_footer-certificate.png) no-repeat; width:966px; height:37px; margin-bottom:20px;}
.t-left { float:left; text-align:left;}
.t-right { float:right; text-align:right;}
.copyright { width:100%; height:25px; line-height:25px; color:#454444; text-align:center; font-style:italic; margin-top:30px;}
/*LOGIN*/
.main-inner .login { background:url(/images/nsc/login/nsc_login_register-bg.png) no-repeat; height:400px; padding:65px 0 0 32px; overflow:hidden; position:relative;}
.main-inner .login h2 { color:#fff; text-align:center; font-size:22px; font-weight:normal; margin:0 0 40px -32px;}
.main-inner .login .inputbox { width:216px; border-bottom:1px solid #e4dfe3; height:28px; margin-bottom:40px; position:relative;}
.main-inner .login .inputbox img.keypad-trigger { display:none;}
.main-inner .login .yzmbox { width:120px; border-bottom:1px solid #e4dfe3; height:28px; margin:45px 0 0; position:relative;}
.icon-img1,.icon-img2,.icon-img3 { display:block; background:url(/images/nsc/login/nsc_login-icon.png) no-repeat; width:22px; height:21px; position:absolute; top:2px; left:0;}
.icon-img1 { background-position:0 0;}
.icon-img2 { background-position:0 -41px;}
.icon-img3 { background-position:0 -81px;}
.main-inner .login .input-username,.main-inner .login .input-password { background:none; border:0; font-size:14px; color:#fff; width:172px; height:26px; margin-left:28px; outline:none;}
.main-inner .login .input-code { background:none; border:0; font-size:14px; color:#fff; width:92px; height:26px; margin-left:28px; outline:none;}
.login .yzmbox .validate { width:80px; height:25px; position:absolute; top:3px; right:-98px; -webkit-filter: grayscale(1);/* Webkit */ filter:gray;/* IE6-9 */ filter: grayscale(1);/* W3C */}
.main-inner .login .inputbox .input-password {}
.main-inner .login .inputbox .input-code {}
.forgotpasswd { position:absolute; right:30px; top:230px; font-size:12px;}
.forgotpasswd a { color:#bbb;}
.forgotpasswd a:hover { color:#fff; text-decoration:underline;}
.refresh_text { font-size:12px; width:216px; text-align:right; color:#bbb;}
.refresh_text span { display:block; padding-top:10px; float:right;}
.refresh_text span:hover { color:#fff; text-decoration:underline;}
.main-inner .login .submitbox { background:url(/images/nsc/login/nsc_login-btn.png) no-repeat; width:184px; height:61px; position:absolute; top:370px; left:60px;}
.main-inner .login .submitbox .submit-login { background:url(/images/nsc/login/nsc_login-btn.png) no-repeat 0 -61px; width:162px; height:40px; border:0; text-indent:-9999px; cursor:pointer;}
.main-inner .login .submitbox .submit-login:hover { background:url(/images/nsc/login/nsc_login-btn.png) no-repeat 0 -111px;}
.main-inner .login .submitbox .submit-btn { background:url(/images/nsc/login/nsc_login-btn.png) no-repeat 0 -161px; width:162px; height:40px; border:0; text-indent:-9999px; cursor:pointer;}
.main-inner .login .submitbox .submit-btn:hover { background:url(/images/nsc/login/nsc_login-btn.png) no-repeat 0 -211px;}
.main-inner .servicebox { position:absolute; right:10px; bottom:10px; font-size:12px; color:#bbb;}
.main-inner .servicebox a { color:#fff; margin-left:5px; text-decoration:underline;}
.main-inner .servicebox a:hover { text-decoration:none;}
.main-inner .black-login { position:absolute; left:10px; bottom:10px; font-size:12px; color:#fff;}
.main-inner .black-login:hover { text-decoration:underline;}

/*浏览器图标*/
.browser_box { position:absolute; top:682px; right:0; width:60px; z-index: 999;}
.browser_box div{ height:60px; width: 0px; overflow: hidden; line-height:60px; padding:0 0 0 60px; cursor: pointer;}
.browser_box div .text{ display: none;}

.browser_box .gg { background:url(/images/nsc/login/login_browser_icon.png) no-repeat;}
.browser_box .hf { background:url(/images/nsc/login/login_browser_icon.png) no-repeat 0 -120px;}
.browser_box .ie { background:url(/images/nsc/login/login_browser_icon.png) no-repeat 0 -60px;}
.browser_box .gg_curr { background:url(/images/nsc/login/login_browser_icon.png) no-repeat 0 0;}
.browser_box .hf_curr { background:url(/images/nsc/login/login_browser_icon.png) no-repeat 0 -120px;}
.browser_box .ie_curr { background:url(/images/nsc/login/login_browser_icon.png) no-repeat 0 -60px;}
.browser_box .text a {font-size:20px;color:#fff; display:block;}

/*弹出层*/
.layer{width:100%;height:100%;position:fixed;left:0;top:0;z-index:999;}
.layer iframe{border:none;}
.layer iframe::-webkit-scrollbar{width:14px;background:#fafafa;}
.layer iframe::-webkit-scrollbar-thumb{ min-height:80px;background:#ccc;border-radius:18px;-webkit-border-radius:18px;-moz-border-radius:18px;}
.layer .mask{width:100%;height:100%;position:fixed;left:0;top:0;background: rgba(0, 0, 0, 0.5);opacity:0.6;filter:alpha(opacity=90);z-index:99;}
.layer .layer-container{background:#fff;position:absolute;z-index:100;transition:all .3s;-webkit-transition:all .3s;-moz-transition:all .3s;}
.layer .layer-close {position:absolute;width:30px;height:30px;right:-10px;top:-10px;background:url(/images/nsc/close-button.png) no-repeat;cursor:pointer;}
.layer .layer-closeie {position:absolute;width:30px;height:30px;right:2px;top:2px;background:url(/images/nsc/skin/blue_skin/main/sc_ggtz_bg.png) no-repeat;cursor:pointer;}

.global-close{display:block;width:40px;height:40px;position:fixed;right:10px;bottom:10px;background:url(/images/nsc/btn_zoom_close.png) 0 0 no-repeat;z-index:99999;cursor:pointer;display:none;}
@keyframes layer{
	0%{
		transform:scale(0);
		opacity:0;
	}
	100%{
		transform:scale(1);
		opacity:1;
	}
}
@-webkit-keyframes{
	0%{
		transform:scale(0);
		opacity:0;
	}
	100%{
		transform:scale(1);
		opacity:1;
	}
}
@-moz-keyframes{
	0%{
		transform:scale(0);
		opacity:0;
	}
	100%{
		transform:scale(1);
		opacity:1;
	}
}
/*
	未开放导航
*/
.v-dalog{
	position: absolute;
	top:150px;
	left: 50%;
	margin-left: -7%;
	padding: 20px 20px;
	color: #fff;
	font-size: 16px;
	border-radius: 8px;
	overflow: hidden;
	display: none;
	z-index: 1000

}
.v-dalog .v-bg{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background:#000;
	opacity: .8;
}
.v-dalog .v-cn{
	position: relative;
	z-index: 2;
}
@font-face {
  font-family: 'iconfont';  /* project id："175470" */
  src: url('//at.alicdn.com/t/font_r1wghptgbep14i.eot');
  src: url('//at.alicdn.com/t/font_r1wghptgbep14i.eot') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_r1wghptgbep14i.woff') format('woff'),
  url('//at.alicdn.com/t/font_r1wghptgbep14i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_r1wghptgbep14i.svg#iconfont') format('svg');
}
@font-face {
  font-family: 'iconfont';  /* project id："162020" */
  src: url('//at.alicdn.com/t/font_v1m0rghopeovfgvi.eot');
  src: url('//at.alicdn.com/t/font_v1m0rghopeovfgvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_v1m0rghopeovfgvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_v1m0rghopeovfgvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_v1m0rghopeovfgvi.svg#iconfont') format('svg');
}
.iconfont{
	font-family: "iconfont";
	font-size: 27px;
	color: #FFF;
	display: block;
	width: 24px;
	height: 23px;
	margin: -5px 0px 16px 29px;
}		