/*操作错误正确提示*/
#success h3,#error h3 { text-align: center; font-size: 18px;}
#error{ background: url("/images/nsc/icon_error-big.png") no-repeat center 100px; padding: 180px 0 100px;}
#success { background:url("/images/nsc/icon_success-big.png") no-repeat center 100px; padding: 180px 0  100px;}
.hint_red { color: #fb2323;}
.hint_green { color: #60a52c;}
.hint_green p { margin-bottom: 10px;}