.idea/*
web/_xingcai_buffer/*
wap/_xingcai_buffer/*
dl/_xingcai_agency_buffer/*
admin/_blast_buffer/*
kj/node_modules/
wap/_xingcai__buffer/*
kj2/.svn/*
web/qrcode.png
admin/upload/uploads/files/*/*.jpg
admin/_xingcai_buffer/*
web/upload/uploads/files/*/*.jpg
web/qrcode.png
web/_xingcai_buffer/*
web/qrcode.png
admin/upload/*
web/upload/*

