 /* Write your styles */
 
 body {background-color: #FFFFFF; padding: 0; margin: 0;}
 ol,ul,li {padding-left: 0em;list-style: none}
 h2,h3,h4,ul,li,p {padding: 0;margin: 0;}
 input {outline: none;}
 html{ padding: 0; margin: 0;}
 html,body{ height:100%}
 .dream-head{ 
 	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#9400d4',endColorStr='#d644b2',gradientType='1');
    background: -moz-linear-gradient(left, #9400d4, #d644b2);
    background: -o-linear-gradient(left,#9400d4, #d644b2);
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#9400d4), to(#d644b2));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
.dream-foot{ background: #fff; border-top: 1px solid #c8c8c8;}
.dream-foot a{ color: #000;}
.dream-foot .curr{ color: #d644b2;}
.am-slider-default .am-control-nav{ text-align: right; bottom: 15px; right:1rem;}
.am-slider-default .am-control-nav li a.am-active{ background: #d644b2;}
.am-slider-default .am-control-nav li a{ background: #fff; width: 10px; height: 10px;}
.am-direction-nav{ display: none;}
.am-slider-default{ margin: 0;}
.dream-nav{ overflow: hidden; background: #fff; padding: 1rem 0 1.8rem 0;}
.dream-nav li{ width: 25%; float: left; text-align: center;}
.dream-nav li a{ color: #000;}
.dream-nav .am-gallery-item img {
    width: 55%;
    display: block;
    margin: 5px auto;
}
.new{ background: #fff; overflow: hidden; padding: 1rem; margin-top: -2rem;}
.new span{ border-left: 3px solid #d644b2; color: #000; padding-left: 8px; font-size: 1.8rem;}
.new a{ float: right; color: #939393; font-size: 1.2rem; margin-top: 5px;}
.new-line{filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#9400d4',endColorStr='#d341b4',gradientType='1');
    background: -moz-linear-gradient(left, #9400d4, #d341b4);
    background: -o-linear-gradient(left,#9400d4, #d341b4);
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#9400d4), to(#d341b4));
    height: 3px;}
.new-list{ background: #fff;margin-top: 5px; overflow: hidden; padding:5px;}
.new-list li{ float: left; width: 50%; text-align: center; }
.new-list li img{ width: 96%; height: 8rem; margin: 0 auto;}
.new-list p{ color: #000; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin: 5px 0 15px 5px; }

.actor{ background: #fff;  overflow: hidden; padding: 5px 5px;}
.actor li{ float: left; width: 50%; text-align: center;}
.actor li img{ width: 95%; margin: 0 auto; border-radius: 5px; height: 16rem;}
.actor li p em{ float: right; font-style: normal; color: #7e7e7e; font-size: 1.4rem; margin-top: 2px;}
.actor li p{ width: 95%; margin: 10px auto; color: #000; }
.actor li p i{ color: #7e7e7e; font-size: 1.4rem; font-style: normal; margin-left: 20px;}
.actor li p span{ float: left;}
.yule{background: #fff;overflow: hidden; padding:1rem; border-top: 1px solid #C8C8C8;}
.yule li em{ background: url(../images/dot.png) no-repeat; background-position: 0px 10px; text-indent: 14px; font-style: normal; color: #000; float: left; width: 70%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.yule li span{ float: right; width: 25%; text-align: right; color: #7a7a7a; font-size: 1.4rem;}
.yule li{ overflow: hidden; line-height: 30px;}
/*.actor p{ text-align: center;}*/

.agent{ background: #fff;  overflow: hidden; padding: 5px 5px;}
.agent li{ float: left; width: 50%;}
.agent li img{ width: 97%; margin: 0 auto; border-radius: 5px; height: 16rem;}
.agent li p{ width: 93%; margin: 0 auto; color: #000; margin: 5px 0 15px 0px; text-align: center;}
.money{ text-align: center; /* margin-top: 30px; */}
.money img{ width: 8rem;}
.moneynum{ font-weight: bold; font-size: 3rem;}
.money-btn{ display: block;  border-radius: 5px; font-size: 20px; overflow: hidden; background: #d644b2; color: #fff; padding: 0.5rem 0; text-align: center; margin: 9rem 1rem;}
.money-btn1{ display: block;  border-radius: 5px; font-size: 20px; overflow: hidden; background: #ffffff; color: #333; padding: 0.5rem 0; text-align: center; margin: 0 1rem;}

.setup{ margin: 0 1rem;}
.setup li{ border-bottom: 1px solid #ddd; padding: 1rem 0;}
.setup li span{ color: #000;}
.jianju{ height: 12px; background: #e8e8e8;  ;}
.setup li:last-child{ border: 0;}
.setup li a{ display: block;}
.gm-head-search {
    float: left;
    width:85%;
    position: relative;
}
.gm-head-right {
    float: right;
    width: 15%;
    color: #fff;
    font-size: 1.6rem;
    text-align: right;
}
.gm-head-search input {
    width: 100%;
    border: none;
    color: #CCC;
    border-radius: 5px;
    height: 30px;
    font-size: 1.4rem;
    padding-left: 5%;
}
.gm-head-right a{ color: #fff;}
.search-tit{ background: #f4f2f1; color: #818181; font-size: 1.4rem;  padding: 1rem 1rem;}
.search-list li{ border-bottom: 1px solid #ddd; overflow: hidden; padding: 0.1rem 1rem;}
.search-list li a{ color: #000; font-size: 1.6rem; display: block;}
.login-logo{ text-align: center; margin: 3rem 0;} 
.login-logo img{ width: 240px;}
.login-name{ margin: 0 3%; width:94%; font-size: 1.4rem; padding: 1rem; border-radius: 5px; border: 1px solid #ddd;}
.login-password{ margin: 1rem 3%; width:94%; font-size: 1.4rem; padding: 1rem; border-radius: 5px; border: 1px solid #ddd;}
.login-text{ color: #656565; font-size: 1.4rem; margin-top: -10px; padding: 0 1rem; margin-bottom: 20px;}
.reg{ color: #d644b2;}
.reg1{ color: #d644b2; text-decoration: underline;}
.password{ float: right; padding-right: 5px; color: #656565;}
.agree{ padding: 0 1rem; font-size: 1.4rem; color:#000;}

.infor{ padding: 0 3%; overflow: hidden;}
.infor li{ overflow: hidden; margin: 1rem 0;}
.infor span{ text-align: right;  width: 40%; float: left; line-height: 27px; color: #000; margin-left: -5px;}
.infor input{ width: 57%; float: left; background: #efefef; border: 0; border-radius: 5px; padding: 1rem;}

.infor1{ padding: 0 3%; overflow: hidden; margin: 1rem 0;}
.infor1 li{ overflow: hidden; }
.infor1 span{ text-align: right;  width: 20%; float: left; line-height: 30px; color: #000;}
.infor1 div{ width: 74%; float: left; line-height: 30px; color: #000; font-style: normal;}
.infor1 div i{ float: left; display: block; width: 31%; font-style: normal;}
.infor1 div em{ float: left; width: 69%; font-style: normal;}
.infor1 div a{ color: #000; overflow: hidden;}

.infor2{ padding: 0 3%; overflow: hidden;}
.infor2 li{ overflow: hidden; margin: 1rem 0;}
.infor2 span{ text-align: right;  width:35%; float: left; line-height: 45px; color: #000;}
.infor2 input{ width: 64%; float: left; background: #efefef; border: 0; border-radius: 5px; padding: 1rem;}

.address{width: 74%; float: left; background: #efefef; border: 0; border-radius: 5px; padding: 1rem;}
.video{ padding: 0 1rem; overflow: hidden;}
.video li{ width: 50%; float: left; text-align: center; position: relative;}
.video li a{ width: 96%; margin: 0 auto;  border-radius: 5px; display: block; }
.am-video img{ width: 100%; height: 8rem;  border-radius: 5px;}
.video-add{ border:1px solid #ddd; height: 8rem;}
.am-video p{ color: #000; margin-top: 8px;}
.video-add img{ margin-top:15px;}
.movie-icon{ position: absolute; top: 25%; width: 32px; height: 32px; left: 40%;}
.member{ width: 100%; background: url(../images/bg.png); height: 240px; background-size: cover;}
.mem-tit { text-align: center; color: #fff; line-height: 50px; font-size: 1.6rem;}
.mem-pic img{ border-radius: 50%; width: 100%; height: 100%;}
.mem-pic{ width: 200px; margin: 0 auto; position: relative;}
.mem-pic-bg{ filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#9400d4',endColorStr='#d644b2',gradientType='1');
    background: -moz-linear-gradient(left, #9400d4, #d644b2);
    background: -o-linear-gradient(left,#9400d4, #d644b2);
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#9400d4), to(#d644b2));
    border-radius: 50%; width: 100px; height: 100px; padding: 2px; margin: 0 auto;}
.men-level{ position:absolute; right:0; top: 70px; font-size: 1.2rem; padding:1px 3px; color: #fff; border-radius: 5px;
filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#9400d4',endColorStr='#d644b2',gradientType='1');
    background: -moz-linear-gradient(left, #9400d4, #d644b2);
    background: -o-linear-gradient(left,#9400d4, #d644b2);
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#9400d4), to(#d644b2));
    }
.men-level2{ 
  position: absolute;
  right: 146px;
  top: 7px;
  font-size: 1.2rem;
  padding: 1px 3px;
  color: #fff;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#9400d4',endColorStr='#d644b2',gradientType='1');
  background: -moz-linear-gradient(left, #9400d4, #d644b2);
  background: -o-linear-gradient(left,#9400d4, #d644b2);
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#9400d4), to(#d644b2));
  } 
.member-menu{ overflow: hidden; margin-top: 20px;}
.member-menu li{font-size: 1.4rem; float: left; width: 33% ; text-align: center; border-right: 1px solid #fff;}
.member-menu li:last-child{ border: 0;}
.member-menu li a{ color: #fff; display: block;}


.member-list{ background: #fff; margin:1rem 0; border-bottom: 1px solid #ddd; border-top: 1px solid #ddd;}
.member-list li{ border-bottom: 1px solid #ddd; padding: 1rem 0; margin: 0 1rem; overflow: hidden;}
.member-list li span{ color: #000; float: left; margin-left: 2%;margin-top: 5px;}
.jianju{ height: 12px; background: #e8e8e8;}
.member-list li:last-child{ border: 0;}
.member-list li a { display: block; overflow: hidden;}
.member-list img{ width: 30px; height: 31px; float: left;}
.newcon-pic{ background: #fff; overflow: hidden; padding-bottom: 12px;}
.newcon-pic img{ width: 100%; height: 100%;}
.newcon-pic p{ text-indent: 12px;}
.newcon-tit{ color: #2a2a2a; margin-top:12px; font-size: 1.8rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.newcon-time{ color: #b2b2b2; font-size: 1.4rem;}
.newcon{ padding:  1rem; margin-top: 1rem; background: #fff; overflow: hidden;}
.newcon p{ text-indent: 24px; margin: 1rem 0; font-size: 1.6rem;}
.newcon img{ width: 100%;}
.himself{ padding: 1rem;}
.himself img{ border-radius: 5px; float: left;width: 8rem;
    height: 8rem;
    margin-right: 0.625rem;
}
.himself li:last-child{ border-bottom: 0;}
.himself em{ font-style: normal; float: right; color: #000;}
.him-text{ float: left;}
.himself .intro{ color: #878787; font-size: 1.4rem;}
.himself .biaoqian{ color: #878787; font-size: 1.3rem;}
.himself i{ font-size: 1.8rem; font-style: normal; color: #000;}
.himself span{ margin-left: 8px; color: #9f9f9f; font-size: 1.3rem;}
.himself p{ line-height: 30px;}
.himself li{ border-bottom: 1px solid #ddd; overflow: hidden; padding: 1rem 0;}

#pullUp{ text-align: center; height: 45px; line-height: 45px;}

.new1{ padding:0 1rem; margin-top: 1rem;}
.new1 img{ width: 100%; border-radius: 5px; height: 12rem;}
.new1 li{ overflow: hidden; margin-bottom: 12px;}
.new1 li a{ display: block;}
.am-gallery img{ border-radius: 5px;}

.private{ margin-top: 1rem;}
.private li{ overflow: hidden; margin-bottom: 1rem;}
.private-pic{ width: 15%; margin-left: 3%; float: left;}
.private-pic img{ border-radius: 50%; width: 100%; height: 100%; margin-top: 5px;}
.private-right{margin-left: 3%; float: left; width: 79%; border-bottom: 1px solid #ddd;}
.private-right span{ font-size: 2.2rem;}
.private-right i{ float: right; font-style: normal; padding-right: 3%; line-height: 38px; color: #8f8f8f;}
.private-right .text{ font-size: 1.4rem; margin-bottom: 5px; color: #8c8c8c; width: 90%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.choice{ overflow: hidden; padding: 1rem;}
.choice li{ overflow: hidden; border-bottom: 1px solid #ddd; padding: 1rem 0;}
.choice li:last-child{ border-bottom: 0;}
.choice-pic{ float: left; width:23%; height: 7rem; }
.choice-pic img{ width: 100%; border-radius: 5px; height: 100%;}
.choice-mid{ width: 60%; float: left; margin-left: 2%; overflow: hidden;}
.choice-mid .tit{ font-size: 1.8rem; color: #000; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.choice-mid .biaoqian{ font-size: 1.6rem; color: #6e6e6e;}
.choice-mid .time{ color: #ff8600; font-size: 1.2rem; margin-top:1rem;}
.choice-mid .time img{ float: left;}
.choice-right{ float: right; width: 15%; text-align: right; font-size: 1.4rem;}
.choice-right p{ margin-top: 29px; color: #9e9e9e;}

.comment-right{ margin-top: 15px; float: right; border: 1px solid #ddd; width: 74%; margin-right: 3%; margin-left: 5%;}
.comment-right .title{ border-bottom:1px solid #ddd; position: relative; padding: 2px 5px; color: #D644B2; background: #f8f8f8;}
.comment-right .title span{ float: right; color: #767676; font-size: 1.4rem; line-height: 26px;}
.comment-right .con{ font-size: 1.4rem; padding: 2px 5px; color: #000;}
.comment a{ color: #000; margin: 5px 0; float: left; display: block; width: 50%; border-right: 1px solid #ddd; font-size: 1.4rem;}
.comment { text-align: center; border-top: 1px solid #ddd;}
.comment a:last-child{ border: 0;}
.comment-right .triangle{ width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #ddd;
    border-bottom: 10px solid transparent; position: absolute; left: -10px;}
.comment-right .triangle1{ width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #f8f8f8;
    border-bottom: 10px solid transparent; position: absolute; left: 1px; top: -10px;}

.comment-pic{ width: 15%; margin-left: 3%; float: left;}
.comment-pic img{ border-radius: 50%; width: 100%; height: 100%; margin-top: 5px;}

.choicecon{ padding: 1rem 1rem; background: #fff; overflow: hidden;}
.conleft{ width: 80%; float: left;}
.conright{ width: 20%; float: left; float: right;}
.conleft .tit{ font-size: 1.8rem;}
.conleft .text{ color: #9b9b9b; font-size: 1.6rem;}
.conright{ text-align: center; color: #9b9b9b; font-size: 1.4rem; border-left: 1px solid #ddd;}
.choicetime{  background: #fff; margin-top: 1rem; overflow: hidden;}
.choicetime span{ margin: 0.5rem 0rem; padding-left: 1rem; border-left: 3px solid #d644b2;  display: block;}
.xiangxi { padding: 0.5rem 1rem;  }
.choicetime .time{ padding: 0 1rem; border-bottom:1px solid #ddd;}
.baoming{ background: #d644b2; color: #fff; display: block; text-align: center; padding: 8px 0; font-size: 2.4rem;}
.comment-photo .photo{ width: 19%; border-radius: 5px; float: left; margin-right: 3%; height: 67px;}
.comment-name{ float: left; font-style: normal; line-height: 67px;}
.comment-photo{ margin: 1rem; overflow: hidden;}

#file-list img {
    width: 100%;
    height: auto;
  
}
.video-tit{ border-top: 1px solid #bea7ca; line-height: 45px; text-align: center;}
.video-tit1{ border-top: 1px solid #bea7ca; line-height: 45px; text-align: center; margin-top: 1.8rem; margin-bottom: -5px;}
.am-radio-inline{ float: left; width: 64%; margin-top: 12px;}
.money-fuhao{ line-height: 45px; font-style: normal; margin-left: 5px;}

.email{ padding: 0 3%; overflow: hidden;}
.email li{ overflow: hidden; margin: 1rem 0;}
.email div{ text-align: right;  width: 25%; float: left; line-height: 45px; color: #000;}
.email input{ width: 70%; float: left; background: #fff; border:1px solid #ddd; border-radius: 5px; padding: 1rem;}
#wrapper {
position:absolute;
	 z-index:1;
	top:49px;
	 bottom:50px; left:0;
	width:100%;	
	overflow:hidden;
}

#scroller {
	position:relative;
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);

	float:left;
	width:100%;
	padding:0;
}


#scroller li > a {
	display:block;
}


#pullDown, #pullUp {
	height:40px;
	line-height:40px;
    width:100%; 
	margin:0 auto;
	text-align:center;
	font-size:14px;
	color:#888;


}
#pullUp { border-top: 1px solid #ddd;}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; float:left;
	/*background:url(pull-icon@2x.png) 0 0 no-repeat;*/
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}

.iconfont{
  font-family: "iconfont";
  font-size: 23px;
  font-style: normal;
  float: left;
  width: 30px;
  height: 31px;
  margin-top: -5px;
  color: #C230BC;
}
.iconfont2{
  font-family: "iconfont";
  font-size: 21px;
  font-style: normal;
  float: left;
  /* width: 30px; */
  /* height: 31px; */
  margin-top: 1px;
  color: #FFF;
  margin-left: 0.4em;
}
.iconfont3{
  font-family: "iconfont";
  font-size: 23px;
  font-style: normal;
  float: left;
  /* width: 30px; */
  /* height: 31px; */
  margin-top: -2px;
  color: #EA5919;
}
.iconfont4 {
  font-family: "iconfont";
  font-size: 27px;
  font-style: normal;
  float: left;
  /* width: 30px; */
  /* height: 31px; */
  margin-top: -4px;
  margin-bottom: -9px;
  color: #000;
}

.iconfont5{
    font-family: "iconfont";
  
    font-size: 11rem;
  
    font-style: normal;
  
  color: #F20D4A;
}