@charset "utf-8";
/*  */
html {overflow:-moz-scrollbars-vertical; overflow-y:scroll;}
font,div,td{font-size:12px;}
dl,dt,dd{margin:0px; padding:0px; font-size:12px;}
dt,dd{line-height:0px;}
.b5 {height:1px; font-size:1px; overflow:hidden; display:block; background:#DDE0E5; margin:0 5px;}
.b6 {height:1px; font-size:1px; overflow:hidden; display:block; background:#DDE0E5; margin:0 3px;}
.b7 {height:1px; font-size:1px; overflow:hidden; display:block; background:#DDE0E5; margin:0 2px;}
.b8 {height:2px; font-size:1px; overflow:hidden; display:block; background:#DDE0E5; margin:0 1px;}
#chartsTable{
	border-top:1px solid #CCCCFE;
	border-left:1px solid #CCCCFE;
}
*{-webkit-user-drag: none;}
tr{
	text-align:center;
}
#chartsTable td{
	border-bottom:1px solid #CCCCFE;
	border-right:1px solid #CCCCFE;
	height:20px;
}
.redtext{
	color:red;
}
#title{
	width:55px;
	/*
	height:25px;
	background:#CD2903;
	*/
}
#title {width:115px; text-align:center;}
#head{
	/*background:#99CCFF;*/
}
.ball01{
	font-weight:bold;
	color:#FFFFFF;
	width:16px;
	height:16px;
	background:url(../images/chartBall02.gif) no-repeat center;
}
.ball02{
	font-weight:bold;
	color:#FFFFFF;
	width:16px;
	height:16px;
	background:url(../images/chartBall01.gif) no-repeat center;
}
.ball03{
	width:16px;
	height:16px;
	color:#33CCCC;
}
.ball04{
	width:16px;
	height:16px;
	color:#FF9999;
}
.wdh{
	width:16px;
	height:25px;
}
#titlemessage{
	height:35px;
}
#showissue{
	width:53px;
	height:21px;
	border:0px solid #FFFFFF;
}
input{
	border:1px solid #CCCCCC;
}
#quickbuy{
	margin:20px 10px 20px 10px;
	text-align:right;
}
#quickbuy a{
	padding:13px 25px 13px 25px;
	color:#FFFFFF;
	font-weight:bold;
}
.tdleft{
	padding-left:25px;
	text-align:left;
}
.tdright{
	text-align:right;
}

table #missedTable{
	border:1px solid #FFFFFF;
}
#missedTable td{
	border:1px solid #fff;
}

.none{
	background:none!important;
}

esun\:*{behavior:url(#default#VML)}

dl.tips{margin:30px 0px 20px;color:#999; text-align:left;}
dl.tips dt{font-weight:bold; margin-bottom:5px;}
dl.tips dd{margin-top:20px;}



/**/
 .w000{}
 .w001{ background:#f5f5f5;}
 .w002{}
 .w003{ background:#f5f5f5;}
#showissue1{ width:60px; height:20px; border:none; background:#333; color:#fff;}
#titlemessage{ background:#ececec;}
#starttime,#endtime{ width:80px; height:20px; line-height:20px;}
#titlemessage {background: #ECECEC; border-bottom:3px solid #ddd;}
#titlemessage a{
	color: #333;
    border: 1px solid #aaa;
    padding: 3px 5px;
    text-decoration: none;
    border-radius: 3px;
    margin: 0 4px;}
#titlemessage a:hover{color: #148b8c;border: 1px solid #148b8c; background:#eee;}
	#titlemessage img{ vertical-align:middle;}
.gameClass_Navlist{width: 100%;
    background: #333;
    height: 40px; float:left}
.gameClass_Navlist ul{width:100%; height:40px; float:left; margin:0; padding:0;}
.gameClass_Navlist ul li{width:auto; float:left; padding:0;list-style:none; }
.gameClass_Navlist ul li a{display:block; background: #333;color: #F8F8F8; width:auto; height:40px; line-height:40px; text-decoration:none;padding: 0 8px; border-right:1px solid #555;}
.gameClass_Navlist ul li a.cur{display:block; background:#148b8c; color:#fff; width:auto; height:40px; line-height:40px; text-decoration:none;padding: 0 8px;border-right:1px solid #555; }
.gameClass_Navlist ul li a:hover{background:#148b8c; color:#fff; text-decoration:none;}
.zst_pagetop{ width:100%; height:80px; position:relative; background:#148b8c url(../../images/nw_topmenu_bg.jpg) no-repeat center; float:left;}
.zst_pagetop .login_logo{width: 150px;height: 36px; background:url(../../images/nw_logo.png) no-repeat; background-size:100%; position:absolute;top: 26px;left: 40px;}
.zst_pagetop .login_logo h1{ position:absolute;top: 10px;right: -90px;border-left: 1px solid #68BCBD; padding-left:10px; font-size:22px; height:20px; line-height:20px; color:#ff0;}