@charset "utf-8";
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}
.btn{ -webkit-appearance : none ; }
body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
  /* padding-top:88px; */
}
header{
	position:fixed;
	top:0px;
}
.nav{position:fixed;top:0px;}
.bottompage .disabled{
	float:left;
	 border:1px solid #35aaff;
    font-size:18px;
    height:40px;
    padding:10px;
    line-height:20px;
}
.bottompage .pagecurrent{
	padding:10px;
    color:white;
    background:#35aaff;
    display:inline-block;
    width:40px;
    height:40px;
    line-height:20px;
    text-align:center;
}
.bottompage a{
	float:left;
	border:1px solid #35aaff;
    font-size:18px;
    height:40px;
    line-height:20px;
    padding:10px;
}
.bottompage{
	line-height:40px;
	margin:auto;
	display:table;
}
a{text-decoration: none;font-size: 15px;color:#333;outline: none;}
ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  -webkit-padding-start:0px;
  -webkit-margin-before:0px;
  -webkit-margin-after:0px;    
  margin-left: 0px;
}

li{
  list-style: none;
}
.clearfix{ clear:both;}



.nav{ background-color:#35aaff; height: 88px;
    line-height: 88px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 28px;
    box-sizing: border-box;
}
.nav .icon{ 
	position:absolute; left:20px; top:27px; 
	width:36px; height:34px;  
	background-image:url(../img/wo@2x.png); background-repeat:no-repeat;
}
.nav .icon00{ 
	position:absolute; right:20px; top:27px; 
	width:38px; height:34px; 
	background-image:url(../img/yu_e@2x.png); background-repeat:no-repeat;
}
.indexlogo{ 
	position:absolute; left:50%; margin-left:-87px; top:20px;
}

