/*-- index 500vip --*/
.header #header-left {  background: url(../images/gren.png) no-repeat;  background-size:25px 23.5px; width:25px; height:23.5px; display: block; margin-top: 3px; }
.header #header-left, .header #reveal-right {color: #fff; display: block;  text-indent: -99999px;  border: none;  position: absolute;  cursor: pointer;  outline: none;  }

.header #header-checkin {z-index:999; right:8px; background: url(../images/checkin.png) no-repeat;  background-size:25px 23.5px; width:25px; height:23.5px; display: block; margin-top: 3px; }
.header #header-checkin {color: #fff; display: block;  text-indent: -99999px;  border: none;  position: absolute;  cursor: pointer;  outline: none;  }


.header #header-left1 {  background: url(../images/freeplay.png) no-repeat; line-height: 44px; background-size:62px 27px; width:75px; height:35px; display: block; margin-top: 3px; }
.header #header-left1 {  color: #fff; display: block;  text-indent: -99999px;  border: none;  position: absolute;  cursor: pointer;  outline: none;  }

.header #header-left2 {  background: url(../images/denglu.png) no-repeat; line-height: 44px; background-size:42px 27px; width:52px; height:35px; display: block; margin-top: 3px; }
.header #header-left2 {  color: #fff; display: block;  text-indent: -99999px;  border: none;  position: absolute;  cursor: pointer;  outline: none;  }

.header-title {background: url(../images/logo.png) no-repeat; width:25px; height:25px;background-size:25px 25px; display: inline-block; margin:2px auto; text-align: center; }
.header-head{ background: url(../images/zhuce.png) no-repeat;line-height: 44px;  width: 52px; height:35px;  background-size: 42px 27px;  position: absolute; right: 0;  top: 8px;  z-index: 9;}
.header-logo{line-height: 44px;padding:6px 10px;overflow: hidden;}
.header-banner img { max-width: 100%; }

.bulletin { height: 40px; line-height: 40px; border-bottom: 1px solid #ddd; position: relative; overflow: hidden; position: relative; }
.bulletin marquee { position:absolute; left: 40px; z-index: 9; width: 75%;white-space:nowrap;}
.bull-text { width:95%; float: left; position: absolute; padding: 0 40px; box-sizing: border-box; font-size: 14px; white-space:nowrap; overflow: hidden; }
.bull-ila { background: url(../images/ilabandex.png) no-repeat; background-size: 15px 15px; width:15px; height: 15px; float: left; margin:12px 0 0 15px; }
.bull-arrow { background: url(../images/index_pic_08.png) no-repeat; background-size: 8px 12px; width:8px; height: 12px; float: right; margin:12px 15px 0 0; }


.index-menu ul li { width: 25%; float: left; text-align: center; }
.index-menu ul li a {  display: block; border-right:1px solid #e8e8e8; }
.index-menu ul li a:first-child { border-left: 0; }
.index-menu ul li a:last-child { border-right: 0; }
.index-menu ul li a img { max-width: 100%; }

.hot-tit { line-height: 40px; padding-left: 10px;background: #f5f5f5;border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; }
.hot-tit a {  color: #000;min-font-size:18px;}
.hot-tit a .bull-arrow { margin-left: 10px; }

.hot-lot { overflow: hidden;background: #fff; }
.hot-lot ul li { width: 33.33%; float: left; text-align: center;}
.hot-lot ul li a { display: block; font-size:95%; padding-bottom: 5px;cursor:pointer;  color: #000;}
.hot-lot ul li .hot-icon img { max-width: 100%; padding:10px 25px 0; box-sizing: border-box;}
.hot-lot ul li a { border-bottom: 1px solid #dcdcdc; border-right: 1px solid #ececea;}
.news-tit {  padding: 10px;background: #f5f5f5;border-bottom:1px solid #e8e8e8;}
.news-tit a{ max-width: 100%;color: #000;min-font-size:30px; }
.news-info{position:relative;max-height:120px;overflow:hidden;}
.news-info ul{position:absolute;width:100%;padding-left:1%;padding-right:2%;box-sizing: border-box;}
.news-info ul li { position: relative; overflow: hidden; line-height: 24px; }
.news-info ul { padding:0 10px; color: #666; font-size: 80%; }
.news-left { float: left; }


.news-tit-ul { margin-top: 44px; height: 32px; line-height: 32px; padding:0 10px; box-sizing: border-box; background: #eaeaea; overflow: hidden; }
.news-info-list ul li { border-bottom: 1px solid #ddd; height: 30px; line-height: 30px; color: #555; }
.news-info-list ul li .pol-icon { margin-top: 9px; }


.hot-tit { line-height: 40px; padding-left: 10px;background: #f5f5f5;border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; }
.hot-tit a {  color: #000;min-font-size:18px;}
.hot-tit a .bull-arrow { margin-left: 10px; }

.hot-lot { overflow: hidden;background: #fff; }
.hot-lot ul li { width: 33.33%; float: left; text-align: center;}
.hot-lot ul li a { display: block; font-size:95%; padding-bottom: 5px;cursor:pointer;  color: #000;}
.hot-lot ul li .hot-icon img { max-width: 100%; padding:10px 25px 0; box-sizing: border-box;}
.hot-lot ul li a { border-bottom: 1px solid #dcdcdc; border-right: 1px solid #ececea;}
