@charset "utf-8";
/* CSS Document */
input { outline:none;}
body { margin:0; padding:0; font-size:12px; font-family:"Microsoft Yahei"; color:#444;height:auto;}
#subContent .bg { color:#fff;}

#siderbar .list {min-height: 40px;border-bottom: 3px solid #d40101;margin: 0px 20px;}
#siderbar .list li { float:left;argin-right:8px; height:40px; line-height: 40px;}
#siderbar .list li a { float:left; padding:0 15px; height:40px;line-height:40px; blr:expression(this.onFocus=this.blur());font-size:14px;outline:none;color:#666666; font-family:"Microsoft Yahei";display:inline-block; overflow:hidden;margin: 0px 5px;border-top-right-radius: 5px;border-top-left-radius: 5px;background-image: -moz-linear-gradient(top, #fff, #e9e9e9); /* Firefox */background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #e9e9e9)); /* Saf4+, Chrome */filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#e9e9e9', GradientType='0'); /* IE*/}
#siderbar .list a:focus { -moz-outline-style: none; color:#322a49; }
#siderbar .list a:hover {background-image: -moz-linear-gradient(top, #ea1717, #d40101); /* Firefox */background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ea1717), color-stop(1, #d40101)); /* Saf4+, Chrome */filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea1717', endColorstr='#d40101', GradientType='0'); /* IE*/text-decoration:none;color:#fff4e1;}
#siderbar .list .current a, #siderbar .list .current a:hover {color: #fff;background-image: -moz-linear-gradient(top, #ea1717, #d40101); /* Firefox */background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ea1717), color-stop(1, #d40101)); /* Saf4+, Chrome */filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ea1717', endColorstr='#d40101', GradientType='0'); /* IE*/}
#subNav .bg {background:url(/static/images/skin/subNav.png) no-repeat;height:27px;line-height:32px;overflow:hidden;padding:0 10px 0 23px;float:left;}
#subNav .current {color:#B5ED58;font-weight:bold;}

#point {line-height: 27px;width: 93%;/* margin: 0 auto 13px; */margin: 10px auto;}


.red {color:red;}
.line10px {  width:100%; height:10px; clear:both; overflow:hidden;}
.bt_cancel,.bt_cedan {background:url(/static/images/skin/skin1/baobiao_button.png) repeat-x; padding:0 12px; height:32px;color:#F09610;border:0;cursor:pointer;font-size:14px; color:#fff399; display:inline-block;margin:0 5px; font-size:14px; font-family:"Microsoft Yahei"; letter-spacing:1px; font-weight:bold; border-radius:4px;}

.dotTitle { margin:20px 0; font-size:16px; font-weight:bold}

/* =content -----------------------------------------------------------------------------*/
.formTable {margin: 10px 0px;}/*border-right:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;*/
.formTable th,.formTable td { padding:8px;line-height:20px;}
.formTable th { padding:8px; background-color:#eee; font-weight:bold;}
.formTable td { padding:5px 20px;color: #666666;}
.formTable td input[type='text'],.formTable td select{color:#666;}
.formTable td input[type='text'],.formTable td input[type='password']{height: 28px; border:1px solid #d8d8d8;line-height: 28px;padding: 0 5px}
/*.formTable td input.forminputT6{width:156px;}*/

.formCheck ,.formNext ,.formSubmit ,.formChange ,.formLibd ,.formZjbd ,.formSame ,.formWord ,.formCancel,.formLock,.buttonnormal,.save {background: transparent url("/images/sanjiao.png") no-repeat scroll -1px -108px; margin-right:10px; text-align:center;color:#fff; border:0;cursor:pointer;font-size:14px; display:inline-block; font-family:"Microsoft Yahei"; letter-spacing:1px; font-weight:bold;  width:119px;height:38px;}
.formBack ,.formReset {background: transparent url("/images/sanjiao.png") no-repeat scroll -127px -108px; width:119px;height:38px;border:0;cursor:pointer;display:inline-block;color:#fff; font-size:14px; font-family: "微软雅黑"; font-weight: bold}
.formOk {float:right;background:url(/static/images/skin/xhl.gif) no-repeat;width:139px;height:36px;margin:0 5px;border:0;color:#EEF1F2;cursor:pointer;display:inline-block;overflow:hidden;text-indent:-9999px;_text-indent:0;}

#error,#success{line-height:22px;}
#error .title { background:url(/images/prompt_sanjiao_icon.jpg) no-repeat 50% 0; font-family:"Microsoft Yahei"; font-size:20px; color:#E45E00; padding:100px 0 0 0; text-align:center;}
#success .title { background:url(/static/images/skin/success_ico.png) no-repeat 50% 0; font-family:"Microsoft Yahei"; font-size:20px; color:#028c00!important; padding:100px 0 0 0; text-align:center;}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin:0 5px;
}
.btn-red{
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    background-color: transparent;
    background-image: linear-gradient(-180deg, #f90303 0%, #c50303 100%);
    background:-webkit-gradient(linear, left top, left bottom, from(#f90303), to(#c50303));
    border-color: #ca0000;
    color: #fff;
}
.btn-red:hover,.btn-red:focus{
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    background-color: transparent;
    background-image: linear-gradient(-180deg, #c50303 0%, #f90303 100%);
    background:-webkit-gradient(linear, left top, left bottom, from(#c50303), to(#f90303));
    border-color: #ca0000;
    color: #fff;
}
#error p { text-align:center;}
#error p a.underline {display:inline-block;background:#d0cfd6; border:1px solid #aaa; padding:0 8px; height:24px; line-height:24px;overflow:hidden; color:#444; text-align:center; font-family:"Arial";}
#error p a.underline:hover { background-color:#d9d8de;}
.msg_buttom {padding: 20px;text-align:center;}
.qrimage-wrap img {
    max-width: 230px;
    max-height: 230px;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
}