@charset "utf-8";
/* CSS Document */

body{ margin:0; padding: 0;}
h1,h2,h3,h4,h5,h6,ul,li,p { margin:0; padding: 0;}
li { list-style: none;}

.activity_main { width:980px; background:#fff url('/images/nsc/activity_main_bodybg.png') repeat-y; margin:0 auto; box-shadow: 0px 5px 5px #c8c8c8; overflow:hidden;}
.left_activity { width:820px; float: left;}

.right_meun { float: left; width: 160px; min-height:620px;}
.right_meun .r_tit-bg { background:url("/images/nsc/activity_siderbar_titbg.png") no-repeat -20px 0; height:150px; overflow:hidden;}
.right_meun .r_tit{ height:26px; line-height:30px; color:#2c263d; margin:115px 0 0 20px; padding:0 0 0 30px; font-weight: normal; font-size:18px; background:url("/images/nsc/activity_siderbar_icon.png") no-repeat;}
.right_meun ul{ margin: 0; padding: 20px 0 0 0;}
.right_meun ul li{ font-size: 16px; cursor: pointer; background:url("/images/nsc/activity_siderbar_li-xian.png") no-repeat center bottom; color: #f1e8ee;}
.right_meun ul li a { display: block; padding:15px 10px 10px 20px; color: #f1e8ee;}
.right_meun ul .current { font-weight: bold; color: #fff;}
.right_meun ul .current a { color: #fff;}

.activity_content { /* margin:-10px 0 0 -12px; */}
.activity_banner { width:820px; height:150px;}
.activity_banner img { width:820px; height:150px;}
.activity_title { background:url("/images/nsc/activity_main_nr_titbg.png") repeat-y; height:60px; line-height:60px; position:relative; padding:0 0 0 25px;}
.activity_title h2 { color:#fff; font-size:36px; font-style:italic; font-weight:bold; line-height:60px!important; height:60px!important;}
.activity_title .check_btn { background:#ff0000; width:140px; height:40px; line-height:40px; text-align:center; font-size:16px; color:#fff; display:block; position:absolute; top:8px; right:10px; box-shadow: 2px 2px 2px #a4a2a3;}
.activity_title .check_jf { background: #5D4B7A; width: 170px; height:40px; line-height:40px; text-align:center; font-size:16px; color:#fff; display:block; position:absolute; top:8px; right:10px; box-shadow: 2px 2px 2px #a4a2a3;}
.activity_title .check_btn_disabled{background:#999;cursor:default;}
.activity_title .check_btn:hover { background:#d30000; }
.activity_title .check_btn_disabled:hover{background:#999;}
.activity_title .check_btn2 { background:#8a8a8a; width:140px; height:40px; line-height:40px; text-align:center; font-size:16px; color:#fff; display:block; position:absolute; top:8px; right:10px; box-shadow: 2px 2px 2px #a4a2a3; cursor:default;}
.countdown { font-size:14px; position:absolute; top:0px; right:320px; color:#9e608b;}
.countdown span { font-weight:bold; font-size:18px; margin:0 3px;}
.counyongjin { font-size:14px; position:absolute; top:0px; right:168px; color:#9e608b;}
.counyongjin span { font-weight:bold; font-size:18px; margin:0 3px;}
.check_btn_signIn { background:#ff632c; width:140px; height:40px; line-height:40px; text-align:center; font-size:16px; color:#fff; display:block; position:absolute; top:8px; right:160px; box-shadow: 2px 2px 2px #a4a2a3;}
.check_btn_signIn:hover { background:#ef3f00; color:#fff;}

.activity_nr { padding:0 25px 10px;}
.activity_nr h4.x-title { font-size:24px; font-weight:bold; color:#8a5a8f; margin: 25px 0 5px 0;}
.activity_nr .x-text { font-size:14px; color:#404040; line-height:24px;}
.x-table1 { border-collapse:collapse; width:100%;}
.x-table1 th { padding:10px 0; font-size:16px; font-weight:bold; text-align:center; border:1px solid #5d4b7a;}
.x-table1 td { padding:8px 0; text-align:center; border:1px solid #5d4b7a;}

/*优惠活动*/
.Top_Tools .width_1k { width: 1040px; }
.TopNav_Cont .width_1k { width: 1040px; }
.activity_main_cont { /* width: 1000px; */ padding: 20px 0px 35px 60px; /* margin: 40px auto auto; */ background: #fff; border: 1px solid #eee; border-bottom: 0; overflow: hidden; clear:both;min-height: 400px;}
.activity_main_cont dl { width: 100%; }
.activity_main_cont dt { width: 100%; height: 20px; line-height: 20px; font-size: 18px; color: #148b8c }
.activity_main_cont dd { width: 100%; }
.activity_main_cont dd ul { width: 100%; float: left; }
.activity_main_cont dd li { width: 100%; /* padding: 20px 0; */ /* border-bottom: 1px dashed #ddd; */ float: left; }
.activity_main_cont dd li:hover { background: #f8f8f8; }
.activity_pic { width: 390px; height: 260px; float: left; overflow:hidden; }
.activity_pic img { width: 390px; height: 260px; transition: all 0.3s linear; -moz-transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear;}
.activity_pic img:hover{ transform:scale(1.04,1.04)}
.activity_txt { width: 580px; height: 85px; padding: 0 10px 0px 45px; float: left; position: relative; text-justify: distribute; text-align: justify; }
.activity_txt.detal_li { height: auto; }
.activity_txt h1 { font-size: 16px; font-weight: bold; height: 25px; line-height: 25px; color: #333; }
.activity_txt h2 { font-size: 14px; color: #666; height: 16px; line-height: 16px; padding: 5px 0; }
.activity_txt .time { width: 16px; height: 16px; background: url(/images/nsc/activity/nw_time_icon.png) no-repeat; background-size: 100%; display: inline-block; float: left; margin-right: 5px; margin-top: 1px;}
.activity_detail { line-height: 20px; color: #666; border-top: 1px solid #efefef; float: left; margin-top: 5px; overflow: hidden; height: 148px; width:100%; }
.activity_detail.detal_li { height: auto; }
.tabstyle{ width:100%; margin:5px auto;}
.tabstyle table th{ background:#00AFB0; color:#fff; border:1px solid #00999A; text-align:center; line-height:24px; font-weight:100;}
.tabstyle table td{ background:#f5f5f5; border:1px solid #00AFB0; text-align:center; line-height:18px; font-size:12px; padding:5px 0;}
.detail_tit { color: #666; text-indent: 2em; }
.activity_detail p { margin-top: 8px; }
.ver_middle{ vertical-align:middle}
.activi_status { position: absolute; top: 0; right: 10px; background: url(/images/nsc/activity/nw_activ_showoff.png) no-repeat; width: 78px; padding-left: 7px; height: 31px; text-align: center; line-height: 31px; font-size: 14px; }
.activi_status.on { background-position: top; color: #fff; }
.activi_status.off { background-position: bottom; color: #aaa; }
.activity_btn { width: 100%; height: 35px; position: absolute; left: 20px; bottom: 0;}
.mail_yzm{ position:absolute; bottom:-35px;left:0; width:218px; height:28px; background:#f0f0f0; border-radius:3px; border:1px solid #FB5626;}
.mail_yzm .mailm_txt{ width:120px; height:28px; line-height:28px; border:none; float:left; background:none; color:#333; font-size:14px; padding-left:5px;}
.mail_yzm a{ width:80px; height:28px; line-height:28px; text-align:center; display:block; float:right; background:#FB5626; border-radius:2px; color:#fff; position:relative;z-index:1; border-top-left-radius:0; border-bottom-left-radius:0;}
.mail_yzm a:hover{ background:#FF744B;}
.mail_yzm b{ width:6px; height:6px; background:#FB5626; transform:rotate(45deg); position:absolute;right:35px; top:-4px; z-index:0;}
.activity_txt .get_reward { width: 220px; height: 35px; line-height: 35px; background: #00afb0; color: #fff; display: block; text-align: center; border-radius: 3px; float: left; margin-right: 20px; }
.activity_txt .get_reward:hover { color: #ff0; }
.activity_txt .more { width: 120px; height: 33px; line-height: 33px; background: #eee; color: #666; border: 1px solid #ccc; display: block; text-align: center; border-radius: 3px; float: left; }
.activity_txt .more:hover { color: #00afb0; }