body {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: "Microsoft Yahei", Verdana, Arial, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
  height: 100%;
  -webkit-font-smoothing: antialiased
}
body {
  color: #333;
  line-height: 0;
  background: #f0f0f0;
   
}
body.blue { background: #efeff4; }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section { display: block; }
dl,
dt,
dd,
ul,
ol,
li,
em,
i,
p {
  margin:0;
  padding:0;
  list-style: none;
  font-style: normal;
}
li {
  font-size: 14px;
  font-size: 1.4rem;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
 /* text-align: left; */
 text-align: center;
 font-weight: normal;
}
h1,
h2,
h3,
h4 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit}
:focus { outline: 0; }
a {
  color: #333;
  tap-highlight-color: rgba(0,0,0,0);  
  focus-ring-color: rgba(0, 0, 0, 0);  
  -webkit-tap-highlight-color: rgba(0,0,0,0);  
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);  
  -moz-tap-highlight-color: rgba(0,0,0,0);  
  -moz-focus-ring-color: rgba(0, 0, 0, 0); 
}
a:hover { color: #000; }
a:focus { outline: none; }
a,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}


/* ===== retrie分类下来 ===== */
.retrie {
  position: relative;
  z-index: 102;
  height: 0px;
  background-color: #fff;
  /* border-bottom: 1px solid #e8e8e8; */
}
.retrie dt { overflow: hidden }
.retrie dt a {
  position: relative;
  float: left;
  width: 50%;
  height: 36px;
  line-height: 39px;
  color: #C2C2C2;
  font-size: 14px;
  font-size: 16px;
  text-align: center;
}
.retrie dt a:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: 39px;
  width: 8px;
  height: 8px;
  border: #666 solid;
  border-width: 1px 1px 0 0;
  content: ' ';
  -webkit-transform: rotate(135deg);
}
.retrie dt .up {
  color: #C2C2C2;
  /* border-bottom: 2px solid #C2C2C2; */
}
.retrie dt .up:after {
  margin-top: 0;
  border: #C2C2C2 solid;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(-45deg);
}
.retrie dt a:last-child:before {
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  width: 1px;
  height: 30px;
  background-color: #ebebeb;
  content: ' ';
}
.retrie dd { position: relative; }
/* ===== slide-area ===== */
.slide {
  position: absolute;
  top: 2px;
  /* left: 0; */
  z-index: 104;
  display: none; 
  /* width: 116%; */
  overflow-y: auto;
  background-color: #fff;
}
.slide li {
  display: block;
  /* height: 169px; */
  /* border-bottom: 1px solid #eee; */
}
.slide li a {
  /* display: block; */
  /* padding: 0 25px; */
  /* height: 50px; */
  /* background-color: transparent; */
  /* line-height: 50px; */
}
.slide li a:hover,
.slide li a.selected { background-color: #f6f6f6; }

.slide li a.select { background-color: #fff; }

.beishu{padding: 3px 0;
    text-align: center;
    width: 20% !important;}
